* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rambla", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(119, 119, 119, 0.7), rgba(119, 119, 119, 0.7)), url(../img/header.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(50% 0%, 100% 0, 100% 84%, 19% 100%, 0 90%, 0 0);
  overflow: hidden;
}
.header__title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-size: 7rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 2px 4px #590f34;
  padding-top: 55px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.header__title--2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-size: 5.5rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 2px 4px #590f34;
  padding-top: 55px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  overflow: hidden;
  cursor: pointer;
}
.header__SubTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-items: center;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  padding-top: 13px;
  text-shadow: 1px 1px 2px #590f34;
  overflow: hidden;
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.nav {
  width: 95%;
  position: sticky;
  top: 0;
}
.nav__logo {
  color: rgb(255, 255, 255);
  width: 100px;
  height: 90px;
  justify-items: center;
  object-fit: cover;
  align-self: center;
}
.nav__item {
  padding: 0 5px;
}
.nav__link {
  color: rgb(255, 255, 255);
  padding: 0 5px 3px 0;
  font-size: 1.3rem;
}
.nav__link:hover {
  color: rgb(255, 255, 255);
  padding: 0 5px 3px 0;
  border-bottom: 1px solid white;
  background-color: rgba(255, 255, 255, 0);
}
.nav__link:focus {
  color: rgb(255, 255, 255);
}
.nav .nav__SubList {
  background: rgba(255, 255, 255, 0);
  border: none;
}
.nav .nav__SubList__link:hover {
  background-color: rgba(0, 255, 255, 0);
}

/*-----------------------------------------------*/
/*------------- HEADER PROYECTOS-----------------*/
/*-----------------------------------------------*/
.header__proyectos {
  width: 100%;
  height: 70vh;
  background: linear-gradient(rgba(214, 214, 214, 0.7), rgba(223, 223, 223, 0.7)), url(../img/plano.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  clip-path: polygon(50% 0%, 100% 0, 100% 84%, 19% 100%, 0 90%, 0 0);
  overflow: hidden;
}

.AboutUs {
  width: 100%;
  height: auto;
  margin: 30px 0;
}
.AboutUs__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  overflow: hidden;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10px 5px;
  margin: 20px 0;
}
.AboutUs__title {
  font-size: 2.4rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 1px 2px #590f34;
}
.AboutUs__text {
  color: #590f34;
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 0 5px;
}
.AboutUs__img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 10px;
}

/*--------------------------------------*/
/*----------------CARDS-----------------*/
/*--------------------------------------*/
.AboutUs__card--title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  color: rgba(255, 255, 255, 0.4);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  margin-top: 13px;
  text-shadow: 1px 1px 2px #590f34;
  font-size: 3rem;
  font-weight: 600;
}

.AboutUs__card--title2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  color: rgba(255, 255, 255, 0.4);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  margin-top: 13px;
  text-shadow: 1px 1px 2px #590f34;
  font-size: 2rem;
  font-weight: 600;
}

.AboutUs__card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__card--2 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__container--2 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 5px;
  row-gap: 2rem;
}
.AboutUs__container--2 .card_ {
  width: 240px;
  min-height: 240px;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 5px 10px;
  border-radius: 15px;
}
.AboutUs__container--2 .card___title {
  font-size: 1.5rem;
  color: #590f34;
  font-weight: 500;
  padding: 10px 0 5px 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-bottom: 3px solid #590f34;
}
.AboutUs__container--2 .card___text {
  line-height: 1.1rem;
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
  padding: 1px 0;
}
.AboutUs__container--2 .card___text--2 {
  line-height: 1.1rem;
  font-size: 3rem;
  font-weight: 300;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.7);
}
.AboutUs__container--2 .card___text--2 span {
  color: #f9e46e;
}
.AboutUs__container--2 .card___size {
  width: 50px;
  height: 50px;
}
.AboutUs__container--2 .card__2 {
  width: 360px;
  min-height: 360px;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 5px 10px;
  border-radius: 15px;
}
.AboutUs__container--2 .card___text--2 {
  line-height: 1.3rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
  padding: 5px 0;
}
.AboutUs__container--2 .card___text--3 {
  padding: 7px 0;
  font-size: 1rem;
  font-weight: 300;
  text-transform: lowercase;
  text-align: center;
  color: #590f34;
}

.clients {
  width: 100%;
  margin: 60px 0;
  overflow: hidden;
  padding: 10px 0;
}
.clients__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, auto));
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
  gap: 2em;
}
.clients__container--container {
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-shadow: 3px 4px 4px rgba(223, 223, 223, 0.426), inset 5px 4px 6px rgba(223, 223, 223, 0.426);
}
.clients__container--title {
  color: #590f34;
  font-weight: bold;
}
.clients__container--number {
  font-size: 2rem;
  color: #f9e46e;
  text-shadow: 1px 2px 4px #590f34;
}

.proyects {
  width: 100%;
  margin: 40px 0;
}
.proyects__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
.proyects__link {
  font-size: 25px;
  color: #f9e46e;
  padding: 7px 10px;
  background-color: #590f34;
  cursor: pointer;
  border-radius: 7px;
}
.proyects__link:hover {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 2px 4px #590f34;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}
.proyects__link--2 {
  font-size: 25px;
  color: #590f34;
  padding: 7px 10px;
  background-color: #f9e46e;
  cursor: pointer;
  border-radius: 7px;
}
.proyects__link--2:hover {
  color: rgba(255, 255, 255, 0.4);
  text-shadow: 1px 2px 4px #590f34;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
}

.jobs {
  width: 100%;
  margin: 30px 0;
}
.jobs__container {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2em;
}
.jobs__container--container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  justify-content: center;
  align-items: center;
}
.jobs__container--img {
  width: 100%;
  padding: 20px 30px;
}
.jobs__container--info {
  text-align: center;
}
.jobs__container--container2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  justify-content: center;
  align-items: center;
}

.contact__body {
  color: #f9e46e;
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

.form {
  height: 100vh;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form__container {
  width: 100%;
  max-width: 450px;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 30px 0 rgba(48, 48, 51, 0.4);
  backdrop-filter: blur(3px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.form__box {
  border-color: rgb(255, 255, 255);
  border: 1px solid var(rgba(180, 180, 180, 0.5411764706));
  padding: 40px 50px;
  border-radius: 20px;
  backdrop-filter: blur;
}
.form__title {
  font-size: 28px;
  text-align: center;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.form__container--form {
  margin: 25px 0 20px;
}
.form__box--input {
  margin: 25px;
}
.form__input {
  display: grid;
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f9e46e;
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}
.form__input::placeholder {
  color: #590f34;
}
.form__label {
  color: #590f34;
  padding-bottom: 5px;
}
.form__checks {
  font-size: 13px;
  align-items: flex-start;
  font-weight: 300;
}
.form__checks a {
  color: #f9e46e;
  text-shadow: rgba(0, 0, 0, 0.3) 1px 1px;
}
.form__checks a:hover {
  color: #590f34;
}
.form .btn__neon {
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  letter-spacing: 4px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.465)) 0 0/400% 100%;
  animation: move-bg 3s infinite alternate-reverse;
  background-clip: var(-webkit-background-clip);
  -webkit-background-clip: text;
  color: transparent;
  border: none;
}
@keyframes move-bg {
  to {
    background-position: 400% 0;
  }
}
.form .btn__neon:hover {
  background: rgb(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.4), 0 0 80px rgba(255, 255, 255, 0.4);
  transition-delay: 1.25s;
  color: #590f34;
}
.form .btn__neon span {
  position: absolute;
  display: block;
}
.form .btn__neon #span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.4));
}
.form .btn__neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
.form .btn__neon #span2 {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgba(255, 255, 255, 0.4));
}
.form .btn__neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
.form .btn__neon #span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, rgba(255, 255, 255, 0.4));
}
.form .btn__neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
.form .btn__neon #span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, rgba(255, 255, 255, 0.4));
}
.form .btn__neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

.container {
  width: 90%;
  min-height: 70vh;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 40px 0;
}
.slider__container {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 1em;
  align-items: center;
}
.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: rgba(255, 229, 84, 0.4117647059);
  align-items: center;
  transition: opacity 0.6s;
  padding: 10px;
  border-radius: 10px;
}
.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}
.slider__img--img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  display: block;
  margin: 0 auto;
}
.slider__arrow {
  cursor: pointer;
  width: 90%;
}
.slider__arrow:nth-of-type(2) {
  justify-self: end;
}
.slider__info {
  color: #590f34;
}
.slider__subtitle {
  font-size: 2.3rem;
  text-transform: capitalize;
  position: relative;
  top: -35px;
}
.slider__subtitle span {
  font-size: 15px;
  vertical-align: super;
}
.slider__review {
  position: relative;
}

@media (max-width: 680px) {
  .slider__container {
    grid-template-columns: 25px 1fr 25px;
  }
  .slider__arrow {
    width: 100%;
  }
  .slider__body {
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
    align-items: center;
    text-align: center;
  }
  .slider__subtitle {
    top: 0;
  }
  .slider__img {
    grid-row: 1/2;
  }
  .slider__img--img {
    width: 210px;
    height: 210px;
  }
}
.footer {
  width: 100%;
  margin: 30px 0;
}
.footer__container {
  border-top: 1.5px solid #590f34;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(80px, auto));
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
}
.footer__img {
  object-fit: cover;
}
.footer__list {
  list-style: none;
  color: rgb(183, 179, 179);
  padding: 0;
}
.footer__list .footer__text2 {
  display: none;
}
.footer__list .footer__text2--link {
  text-decoration: none;
  color: rgb(107, 107, 107);
}
.footer__list .footer__text2--link:hover {
  color: #590f34;
}
.footer__icons a {
  text-decoration: none;
}
.footer__icon {
  width: 35px;
  height: 35px;
  margin: 0 5px;
}

@media (min-width: 600px) {
  .header {
    height: 90vh;
  }
  .header__proyectos {
    height: 90vh;
  }
  .header__title {
    font-size: 9rem;
    padding-top: 30px;
  }
  .header__title--2 {
    font-size: 9rem;
  }
  .header__SubTitle {
    font-size: 4rem;
    padding-top: 0;
  }
  .footer {
    width: 100%;
    margin: 30px 0;
  }
  .footer__container {
    border-top: 1.5px solid #590f34;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    margin: 0 40px;
  }
  .footer__img {
    justify-self: left;
  }
  .footer__list {
    list-style: none;
    color: rgb(183, 179, 179);
  }
  .footer__list .footer__text2 {
    display: block;
  }
  .footer__icons {
    justify-self: right;
  }
  .jobs__container--container2 .jobs__container--img {
    order: 1;
  }
  .AboutUs__card--2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(470x, 1fr));
    justify-content: center;
    justify-items: center;
    text-align: center;
  }
  .AboutUs__container--2 .card__2 {
    width: 450px;
    min-height: 450px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    border-radius: 15px;
  }
  .AboutUs__card--title2 {
    font-size: 3.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
