.AboutUs{
  width: 100%;
  height: auto;
  margin: 30px 0;

  &__container{
    width: 100%;
    display: grid;
    // grid-template-rows: 460px 1fr;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding: 10px 5px;
    margin: 20px 0;
  }

  &__title{
    font-size: 2.4rem;
    font-weight: 600;
    color: $t-color;
    text-shadow: 1px 1px 2px $p-color;
  }

  &__text{
    color: $p-color;
    font-size: 1.2rem;
    margin: 0 5px;
    padding: 0 5px;
  }

  &__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
  }
}

/*--------------------------------------*/
/*----------------CARDS-----------------*/
/*--------------------------------------*/

.AboutUs__card--title{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  color: $t-color;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  margin-top: 13px;
  text-shadow: 1px 1px 2px $p-color;
  font-size: 3rem;
  font-weight: 600;
}

.AboutUs__card--title2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  color: $t-color;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  margin-top: 13px;
  text-shadow: 1px 1px 2px $p-color;
  font-size: 2rem;
  font-weight: 600;
}

.AboutUs__card{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__card--2{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.AboutUs__container--2{
  display: grid;
  grid-template-columns: 1fr;
  margin: 20px 5px;
  row-gap:2rem;

  .card_{
    width: 240px;
    min-height: 240px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    border-radius: 15px;

    &__title{
      font-size: 1.5rem;
      color: $p-color;
      font-weight: 500;
      padding: 10px 0 5px 0;
      margin-bottom: 10px;
      text-transform: uppercase;
      border-bottom: 3px solid $p-color;
    }

    &__text{
      line-height: 1.1rem;
      font-size: 1.1rem;
      font-weight: 300;
      text-transform: capitalize;
      padding: 1px 0;
    }

    &__text--2{
      line-height: 1.1rem;
      font-size: 3rem;
      font-weight: 300;
      text-transform: capitalize;
      color: rgba(0, 0, 0, 0.7);

      & span{
        color: $s-color;
      }
    }

    &__size{
      width: 50px;
      height: 50px;
    }
  }

  .card__2{
    width: 360px;
    min-height: 360px;
    text-align: center;
    align-items: center;
    justify-items: center;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .card___text--2{
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    padding: 5px 0;
  }
  .card___text--3{
    padding: 7px 0;
    font-size: 1rem;
    font-weight: 300;
    text-transform: lowercase;
    text-align: center;
    color: $p-color;
  }
}


