.contact__body{
  color: $s-color;
  background-image: radial-gradient(rgba(0, 0, 0, 0.7), rgba(79, 79, 79, 0.7)), url(../img/header.jpg);
  background-size: cover;
  background-position: center;
}

.form{
  height: 100vh;
  padding: 35px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  

  &__container{
    width: 100%;
    max-width: 450px;
    position: relative;
    background: rgb(255, 255, 255, 0.3);
    box-shadow: 0 8px 30px 0 rgba(48, 48, 51, 0.4);
    backdrop-filter: blur( 3px );
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

  &__box{
    border-color: $f-color;
    border: 1px solid var(#b4b4b48a);
    padding: 40px 50px;
    border-radius: 20px;
    backdrop-filter: blur;
  }

  &__title{
    font-size: 28px;
    text-align: center;
    line-height: 1.2;
    color: $f-color;
  }

  &__container--form{
    margin: 25px 0 20px;
  }

  &__box--input{
    margin: 25px;
  }

  &__input{
    display: grid;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $s-color;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-size: 16px;
    outline: none;

    &::placeholder{
      color: $p-color;
    }
  }

  &__label{
    color: $p-color;
    padding-bottom: 5px;
  }

  &__checks{
    font-size: 13px;
    align-items: flex-start;
    font-weight: 300;

    a{
      color: $s-color;
      text-shadow: rgba(0, 0, 0, .3) 1px 1px;

      &:hover{
        color: $p-color;
      }
    }
  }

  .btn__neon{
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    letter-spacing: 4px;
    font-size: 16px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    background: linear-gradient(to right, $f-color, rgba(255, 255, 255, 0.465))0 0 / 400% 100%;
    animation: move-bg 3s infinite alternate-reverse;
    background-clip: var(-webkit-background-clip);
    -webkit-background-clip: text;
    color: transparent;
    border: none;
  
    @keyframes move-bg{
      to{
        background-position: 400% 0;
      }
    }
    
  
  
    &:hover{
      background: $f-color;
      box-shadow: 0 0 10px $t-color, 0 0 40px $t-color, 0 0 80px $t-color;
      transition-delay: 1.25s;
      color: $p-color;
    }
  
    span{
      position: absolute;
      display: block;
    }
  
    #span1{
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent,$t-color);
    }
  
    &:hover #span1{
      left: 100%;
      transition: 1s;
    }
  
    #span2{
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent,$t-color);
    }
  
    &:hover #span2{
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s;
    }
  
    #span3{
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent,$t-color);
    }
  
    &:hover #span3{
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s;
    }
  
    #span4{
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent,$t-color);
    }
  
    &:hover #span4{
      bottom: 100%;
      transition: 1s;
      transition-delay: 0.75s;
    }
  }
}